a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}

header {
  color: #111;
}
header .sub-header {
  background-color: #f5f5f5;
  padding: 8px 35px;
  font-size: 12px;
}
header .sub-header .sub-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .sub-header .sub-content .sub-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
  list-style: none;
}
header .sub-header .sub-content .sub-menu li:not(.signin) {
  margin-right: 10px;
  padding-right: 10px;
  font-weight: 700;
  border-right: 2px solid #111;
}
header .sub-header .sub-content .sub-menu li.signin {
  font-weight: 700;
}
header .main-header {
  background-color: #fff;
  padding: 20px 35px 8px;
}
header .main-header .main-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .main-header .main-header-content .nav-brand {
  position: relative;
  width: 170px;
  height: 48px;
}
header .main-header .main-header-content .nav-brand svg {
  position: absolute;
  left: -5px;
  bottom: -3px;
  height: 80px;
  width: 80px;
}
header .main-header .main-header-content .nav-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
header .main-header .main-header-content .nav-menu ul li {
  position: relative;
  margin-right: 20px;
  font-weight: 600;
  transition: all 0.5s;
}
header .main-header .main-header-content .nav-menu ul li:hover::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  bottom: -3px;
  left: 0;
  background-color: #111;
  position: absolute;
}
header .main-header .main-header-content .nav-whislist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
header .main-header .main-header-content .nav-whislist .search {
  position: relative;
  transition: all 0.4s;
}
header .main-header .main-header-content .nav-whislist .search svg {
  height: 20px;
  top: 6px;
  left: 5px;
  position: absolute;
}
header .main-header .main-header-content .nav-whislist .search span {
  position: absolute;
  top: 4px;
  left: 35px;
  color: #111;
  font-weight: 600;
}
header .main-header .main-header-content .nav-whislist .search input {
  padding: 4px 0;
  border-radius: 999px;
  background-color: #f5f5f5;
  border: none;
}
header .main-header .main-header-content .nav-whislist .search:hover input {
  background-color: #e5e5e5;
}
header .main-header .main-header-content .nav-whislist a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}
header .main-header .main-header-content .nav-whislist a:hover {
  background-color: #e5e5e5;
}

.opening-area-1 {
  padding: 50px 0;
}
.opening-area-1 .container-custom {
  width: 60%;
  margin: 0 auto;
}
.opening-area-1 .container-custom .single-item h3 {
  font-size: 20px;
  font-weight: 600;
  color: #111;
  text-transform: capitalize;
}
.opening-area-1 .container-custom .single-item ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}
.opening-area-1 .container-custom .single-item ul a {
  display: block;
  color: #707072;
  margin-top: 18px;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.4s;
}
.opening-area-1 .container-custom .single-item ul a:hover {
  color: #111;
}

footer {
  border-top: 2px solid #e5e5e5;
  width: 100%;
  gap: 12px;
  padding-top: 50px;
  padding-left: 30px;
}
footer .single-item {
  align-items: flex-start;
  gap: 12px;
}
footer .single-item h3 {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 18px;
}
footer .single-item p {
  font-size: 14px;
  text-transform: capitalize;
  color: #707072;
  font-weight: 600;
  transition: all 0.3s;
}
footer .single-item p:hover {
  color: #111;
}
footer .single-item-end {
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
}
footer .single-item-end p {
  font-size: 14px;
  text-transform: capitalize;
  color: #707072;
  font-weight: 600;
  transition: all 0.3s;
}
footer .single-item-end p:hover {
  color: #111;
}
footer .copyright {
  color: #707072;
  font-size: 14px;
  font-weight: 600;
}

.banner-area {
  height: 150vh;
}
.banner-area .content {
  position: relative;
  height: 100vh;
}
.banner-area .content .video {
  position: relative;
}
.banner-area .content .video video {
  position: absolute;
  left: 0px;
  top: -55px;
  z-index: -2;
  width: 100%;
}
.banner-area .content .heading {
  padding: 60px 0 50px;
  position: absolute;
  width: 100%;
  background: #fff;
  top: 105%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  text-align: center;
  /* margin-top: 16vh; */
  color: #111;
}
.banner-area .content .heading h2 {
  font-size: 60px;
  font-weight: 900;
}
.banner-area .content .heading p {
  font-size: 18px;
}
.banner-area .content .heading a button {
  font-size: 16px;
  background-color: #111;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 999px;
  padding: 12px 16px;
  transition: all 0.5s;
  cursor: pointer;
}
.banner-area .content .heading a button:hover {
  background-color: #707072;
}

.detail .container-fluid .blog_title {
  text-align: center;
  margin-top: 30px;
}
.detail .container-fluid .blog_title h2 {
  color: #111;
  font-size: 32px;
}
.detail .container-fluid .blog_title p {
  font-size: 20px;
  color: #111;
}
.detail .container-fluid .section-title {
  padding: 0 48;
}
.detail .container-fluid .section-title h3 {
  color: #111;
  font-size: 24px;
}

.item .container-fluid {
  padding: 0 180px;
}
.item .container-fluid .item_left .image_left img {
  width: 85%;
}
.item .container-fluid .item_right .title1 h2 {
  color: #111;
}
.item .container-fluid .item_right .title2 .item_bg img {
  width: 100px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.item .container-fluid .item_right .title3 .col {
  padding: 0;
}
.item .container-fluid .item_right .title3 .btn-size {
  width: 90%;
  background-color: white;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: rgb(229, 229, 229) 0px 0px 0px 1px;
  border: 1px solid #CACACB;
  transition: all 0.5;
}
.item .container-fluid .item_right .title3 .btn-size:hover {
  border-color: #111;
}
.item .container-fluid .item_right .title4 .btn_item1 button {
  background-color: black;
  color: white;
  width: 100%;
  padding: 20px 35px;
  border-radius: 40px;
  margin-bottom: 10px;
}
.item .container-fluid .item_right .title4 .btn_item2 button {
  background-color: white;
  color: black;
  width: 100%;
  padding: 20px 35px;
  border-radius: 40px;
  border: 1px solid #CACACB;
  transition: all 0.5;
  margin-bottom: 20px;
}
.item .container-fluid .item_right .title4 p {
  text-align: center;
  color: #CACACB;
  line-height: 1.6;
  margin-bottom: 20px;
}
.item .container-fluid .item_right .title5 p {
  text-align: left;
}
.item .container-fluid .item_right .title5 button {
  border: none;
  border-bottom: 1px solid #111;
  background-color: white;
  padding: 0;
  transition: all 0.5;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}
.item .container-fluid .item_right .title5 button:hover {
  color: #ccc;
}
.item .container-fluid .item_right .title6 .tab-container {
  width: 100%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}
.item .container-fluid .item_right .title6 .tab {
  border-top: 1px solid #ccc;
}
.item .container-fluid .item_right .title6 .tab-header {
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-weight: 500;
}
.item .container-fluid .item_right .title6 .tab-content {
  display: none;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.item .container-fluid .item_right .title6 .tab-header.active + .tab-content {
  display: block;
}
.item .container-fluid .item_right .title6 .tab-header .arrow {
  float: right;
  transition: transform 0.3s;
}
.item .container-fluid .item_right .title6 .tab-header.active .arrow {
  transform: rotate(180deg);
}/*# sourceMappingURL=style.css.map */