.banner-area {
    // margin: -134px;
    height: 120vh;
    .content {
        position: relative;
        height: 95vh;
        .video {
            position: relative;

            video {
                position: absolute;
                left: -58px;
                top: -55px;
                z-index: -2;
                width: 109%;
            }
        }

        .heading {
            padding: 60px 0 50px;
            position: absolute;
            width: 100%;
            background: #fff;
            top: 120%;
            left: 50%;
            z-index: 1;
            transform: translateX(-50%);
            text-align: center;
            /* margin-top: 16vh; */
            color: #111;
            h2 {
                font-size: $fs-title;
                font-weight: $fw-8;
            }
            p {
                font-size: $fs-lg;
            }
            a {
                button {
                    font-size: $fs-md;
                    @include styleButton();
                }
            }
        }
    }
}
