//font-size
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;
$fs-2xl: 24px;
$fs-3xl: 28px;
$fs-4xl: 32px;
$fs-title: 60px;

//color:

$color-white: #fff;
$color-black: #111;
$color-grey-500: #707072;

//bg item
$bg-main: #f6f6f6;
$bg-nav: #f5f5f5;
$bg-btn-hover: #707072;
$btn-hover: #e5e5e5;
$bg-black: #111;
$bg-white: #fff;

//box-shadow:
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

//font-weight:
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;

//padding:
$p-5: 5px;
$p-6: 6px;
$p-7: 7px;
$p-8: 8px;
$p-9: 9px;
$p-10: 10px;
$p-12: 12px;
$p-14: 14px;
$p-16: 16px;
$p-18: 18px;
$p-20: 20px;
$p-24: 24px;
$p-26: 26px;
$p-28: 28px;
$p-35: 35px;
$p-section: 50px;

//padding y
$p-y-10: 10px 0;
$p-y-20: 20px 0;
$p-y-30: 30px 0;
$p-y-40: 40px 0;

//padding x
$p-x-10: 0 10px;
$p-x-20: 0 20px;
$p-x-30: 0 30px;
$p-x-40: 0 40px;

//marrgin
$m-6: 6px;
$m-8: 8px;
$m-10: 10px;
$m-12: 12px;
$m-14: 14px;
$m-16: 16px;
$m-18: 18px;
$m-20: 20px;
$m-24: 24px;
$m-26: 26px;
$m-28: 28px;
$m-section: 50px;

//margin y:
$m-y-10: 10px 0;
$m-y-20: 20px 0;
$m-y-30: 30px 0;
$m-y-40: 40px 0;

//margin x;
$m-x-10: 0 10px;
$m-x-20: 0 20px;
$m-x-30: 0 30px;
$m-x-40: 0 40px;

//size
$s-2: 2px;
$s-3: 3px;
$s-4: 4px;
$s-5: 5px;
$s-6: 6px;
$s-7: 7px;
$s-8: 8px;
$s-9: 9px;
$s-10: 10px;
$s-12: 12px;
$s-14: 14px;
$s-16: 16px;
$s-18: 18px;
$s-20: 20px;
$s-22: 22px;
$s-24: 24px;
$s-26: 26px;
$s-28: 28px;
$s-30: 30px;
$s-35: 35px;
$s-40: 40px;
$s-45: 45px;
$s-50: 50px;
